[Desktop Entry]
Name=Noctalia Settings
Comment=Open noctalia settings
Exec=noctalia msg settings-open
Icon=/usr/share/noctalia/assets/noctalia.svg
Terminal=false
Type=Application
Categories=Settings;
